.notification-area {
  position: fixed;
  z-index: 200;
  bottom: 20px;
  right: 30px;
  left: inherit;
  min-width: 420px;

  @media only screen and (max-width: 768px) {
    min-width: inherit;
    right: 30px;
    left: 30px;
  }
}
