$main-color: #4A3580;


// AutoSearch
$base-color-seach: white;
$main-color-seach: $blue;

$base-color-font-seach: #444;
$base-color-font-seach-active: white;

$border-color-seach: lighten($base-color-font-seach, 65%);
