$main-color: #4a3580;

$blue: #1565c0;

// AutoSearch
$base-color-seach: #fff;
$main-color-seach: $blue;

$base-color-font-seach: #444;
$base-color-font-seach-active: #fff;

$border-color-seach: lighten($base-color-font-seach, 65%);
