$visual-grid        : false !default;
$visual-grid-color  : #eee !default;
$visual-grid-index  : front !default;
$visual-grid-opacity: 0.4 !default;

@import 'bourbon',
        'setting-grid',
        'base/base',
        'neat',
        'breakpoints',
        // 'helpers-scss',
        'family';

@import "setrobot-front/helper/align";
@import "setrobot-front/helper/grid";

@import "core/reset";

@import "modules/pagination";
@import "modules/grid";
@import "modules/search";
