@mixin h-align {
  @include transform(translateX(50%));
  right: 50%;
}

@mixin v-align {
  @include transform(translateY(-50%));
  top: 50%;
}

@mixin c-align {
  @include transform(translateY(-50%) translateX(-50%));
  top: 50%;
  left: 50%;
}
