/// Align element horizontally
@mixin h-align {
  transform: translateX(50%);
  right: 50%;
}

/// Align element vertically
@mixin v-align {
  transform: translateY(-50%);
  top: 50%;
}

/// Align element in center
@mixin c-align {
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
}
