@mixin custom-select() {
  display: block;
  overflow: hidden;
  padding: 0;
  position: relative;

  &::after {
    @include v-align();
    content: '\f107';
    font-family: FontAwesome;
    font-size: rem(22px);
    position: absolute;
    right: 10px;
  }

  select {
    @include prefixer(box-sizing, border-box, webkit moz spec);
    appearance: none;

    background: none;
    border-radius: 0;
    border: 1px solid transparent;
    font-weight: bold;
    line-height: rem(30px);
    margin: 0;
    outline: none;
    padding: 15px 30px; // of your choice
    width: 100%;
  }

  @-moz-document url-prefix() {
    select {
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
    }
  }

  @content;
}
