.entry-content {
  font-size: em(19px);

  p {
    line-height: em(32px);
  }

  a {
    border-bottom: 1px solid #eee;
    color: $blue;
    font-weight: inherit;
    text-decoration: none;

    &:hover {
      border-bottom-color: #212121;
    }
  }

  li {
    margin-bottom: em(8px);
  }

  ol,
  ul,
  iframe,
  p,
  video {
    margin: 0;
    margin-bottom: em(16px);
  }

  ol {
    list-style: decimal;
    padding-left: em(32px);
  }

  ul {
    list-style: square;
    padding-left: em(32px);
  }
}
