@mixin h-aling {
  @include transform( translateX( 50% ) );
  right: 50%;
}

@mixin v-aling {
  @include transform( translateY( -50% ));
  top: 50%;
}

@mixin c-aling {
  @include transform( translateY( -50% ) translateX( -50% ) );
  top: 50%;
  left: 50%;
}
