$_class-name-grid : col !default;
@if global-variable-exists(cg-class-name-grid) { $_class-name-grid: $cg-class-name-grid; }

%min-height-grid {
  min-height: 1px;
  position: relative
}

%container {
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
}

@mixin _creator-grid($columns, $slug) {
  $grid-class-name: $_class-name-grid;

  @if $slug {
    $grid-class-name: #{$grid-class-name}-#{$slug};
  }

  // Grid columns
  @for $outer-col from 1 through $columns {
    .#{$grid-class-name}-#{$outer-col} {
      @include span-columns($outer-col);

      // Nested columns
      @for $inner-col from 1 through $outer-col {
        .#{$grid-class-name}-#{$inner-col}-#{$outer-col} {
          @include span-columns($inner-col of $outer-col);
        }
      }
    }

    .#{$grid-class-name}-push-#{$outer-col} {
      left: flex-grid($outer-col, $columns) + flex-gutter($columns)
    }

    .#{$grid-class-name}-pull-#{$outer-col} {
      right: flex-grid($outer-col, $columns) + flex-gutter($columns)
    }
  }

  // Grid offset
  @for $outer-col from 1 to $columns {
    .#{$grid-class-name}-offset-#{$outer-col} {
      @include shift($outer-col);
    }
  }
}

@mixin create-grid($columns: 12, $grid-general: true, $breakpoint: false, $size_fixed: false, $slug: md) {
  @if $breakpoint {
    @include media($breakpoint) {
      @include _creator-grid($columns, $slug);

      @if $size_fixed {
        .container {
          max-width: $size_fixed;
        }

        @if $visual-grid {
          body::before {
            @include grid-column-gradient(gradient-stops($columns));
            max-width: $size_fixed;
          }
        }

      } @else {
        @if $visual-grid {
          body::before {
            @include grid-column-gradient(gradient-stops($columns));
            max-width: 100%;
          }
        }
      }
    }

    @each $s in $slugs {
      [class*="#{$_class-name-grid}-#{$s}"] {
        @extend %min-height-grid;
      }
    }

  } @else {
    html, body { min-width: $max-width; }

    @include _creator-grid($columns, $slug);

    .container { max-width: $max-width; }
  }

  @if $grid-general {
    .row       { @include row(); }
    .omega     { @include omega(); }
    .container { @extend %container; }
  }
}


[class*="col-"] {
  background-color: purple;
  text-align: center;
  box-shadow: 0px 0px 1px #000 inset;
  color: #fff; }

[class*="col-"] [class*="col-"] {
  background-color: #570057; }
