.header-top {
  @include padding(30px null);
  background-color: #eae8ef;
}

.hero-header-main {
  @include padding(25px null);
  background-color: #eae8ef;

  @media (max-width: 767px) {
    @include padding(0px null 25px null);
  }

  @media (max-width: 991px) and (min-width: 768px) {
    @include padding(0px null 25px null);
  }
}

.hero-text > h1 {
  color: darken(#eae8ef, 60%);
  font-family: 'Sanchez', serif;
  font-size: em(68px);
  width: 65%;

  @media (max-width: 767px) {
    font-size: em(32px);
    width: 100%;
  }

  @media (max-width: 991px) and (min-width: 768px) {
    font-size: em(48px);
    width: 75%;
  }
}
