@mixin menu-responsive {
  li {
    border-bottom: 1px solid darken(#eae8ef, 8%);
    text-align: center;
    width: 100%;
  }

  a {
    display: inline-block;
    font-size: em(22px);
    line-height: 45px;
    width: 100%;
  }
}

@mixin nav-resposive {
  max-height: 0;
  overflow: hidden;
}

.nav-wrap {
  transition: max-height 0.5s ease-in-out;
  position: relative;

  @media (max-width: 767px) {
    @include nav-resposive;
  }

  @media (max-width: 991px) and (min-width: 768px) {
    @include nav-resposive;
  }
}

.nav-wrap > ul.main-menu {
  @extend %inline-list;
  text-align: right;

  li {
    margin-right: 25px;
  }

  a {
    display: inline-block;
    font-size: em(18px);
    line-height: 60px;
  }

  @media (max-width: 767px) {
    @include menu-responsive();
  }

  @media (max-width: 991px) and (min-width: 768px) {
    @include menu-responsive();
  }
}

.burger-check:checked ~ .nav-wrap {
  @media (max-width: 767px) {
    max-height: 500px;
  }

  @media (max-width: 991px) and (min-width: 768px) {
    max-height: 500px;
  }
}

.burger {
  float: right;
  margin-right: 15px;
  margin-top: 12px;

  @media (max-width: 425px) and (min-width: 375px) {
    margin-top: 18px;
  }

  @media (max-width: 991px) and (min-width: 768px) {
    margin-top: 18px;
  }
}
