// Colors
$main-color: #554899;
$sec-color: darken($main-color, 8%);
$bright-color: lighten($main-color, 14%);

$white: #fff;
$black: #222;

$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
